:root {
  // default theme color
  // can be overrided by uses `themeConfig` option
  --slidev-theme-primary: #5d8392;
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply leading-20;
    font-family: "Cal Sans";
    font-size: 165px;
    line-height: 150px;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2, ul + h2, table + h2 {
    @apply mt-10;
  }
}

.big-text {
  h1 {
    font-family: "Cal Sans";
    font-size: 165px;
    line-height: 160px;
  }
}
